body {
	background-color: #FFFEFD;
	font-family: 'PT Sans', sans-serif;
	min-height:750px;
}

p {
	margin: 0;
}

.container {
	width: 85%;
	margin: 0 auto;
}

.titleStyle {
	margin-bottom: 7px;
	cursor: pointer;
	-webkit-border-radius: 10px;
       -moz-border-radius: 10px;
         -o-border-radius: 10px;
            border-radius: 10px;
    -moz-user-select: -moz-none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	 user-select: none;
}

h2 {
	margin: 0;
	font-family: 'Comfortaa', cursive;
	font-weight: bold;
	color: #fff;
	font-size: 24px;
	padding: 30px 0;
	text-align: center;
}

h3 {
	font-size: 16px;
	padding-left: 30px;
}

.styleVariable {
	font-style: italic;
	font-weight: bold;
	color: #3746A6;
	font-size: 19px;
}

.calculator {
	background-color: #b75993;
}

.calculator-hidden {
	background-color: #EDBBD9;
}

.calcBlock {
	width: 35%;
	padding: 10px;
	-webkit-border-radius: 10px;
       -moz-border-radius: 10px;
         -o-border-radius: 10px;
            border-radius: 10px;
	box-shadow: 0 3px 10px rgba(0,0,0,.25),
	inset 0 2px 0 rgba(255,255,255,.6),
	0 2px 0 rgba(0,0,0,.1),
	inset 0 0 10px rgba(0,0,0,.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,.25),
	inset 0 2px 0 rgba(255,255,255,.6),
	0 2px 0 rgba(0,0,0,.1),
	inset 0 0 10px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,.25),
	inset 0 2px 0 rgba(255,255,255,.6),
	0 2px 0 rgba(0,0,0,.1),
	inset 0 0 10px rgba(0,0,0,.1);
}

.row {
	display: flex;
	justify-content: space-between;
}

.cakcInputSt {
	text-align: right;
	font-weight: bold;
	width: 58%;
	-webkit-border-radius: 5px;
       -moz-border-radius: 5px;
         -o-border-radius: 5px;
            border-radius: 5px;
}

.clearBtn {
	width: 39%;
	background-color: #F59F00;
	border: 1px solid #FAA200;
	cursor: pointer;
	-webkit-border-radius: 5px;
       -moz-border-radius: 5px;
         -o-border-radius: 5px;
            border-radius: 5px;
	box-shadow: 0 3px 10px rgba(0,0,0,.25),
	inset 0 2px 0 rgba(255,255,255,.6),
	0 2px 0 rgba(0,0,0,.1),
	inset 0 0 10px rgba(0,0,0,.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,.25),
	inset 0 2px 0 rgba(255,255,255,.6),
	0 2px 0 rgba(0,0,0,.1),
	inset 0 0 10px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,.25),
	inset 0 2px 0 rgba(255,255,255,.6),
	0 2px 0 rgba(0,0,0,.1),
	inset 0 0 10px rgba(0,0,0,.1);
}

.clearBtn:hover {
	background-color: #F5AB22;
}

.numberStyle {
	width: 19%;
	min-height: 30px;
	margin: 10px 0;
	background-color: #5CCCCC;
	border: 1px solid #239999;
	-webkit-border-radius: 5px;
       -moz-border-radius: 5px;
         -o-border-radius: 5px;
            border-radius: 5px;
	box-shadow: 0 3px 10px rgba(0,0,0,.25),
	inset 0 2px 0 rgba(255,255,255,.6),
	0 2px 0 rgba(0,0,0,.1),
	inset 0 0 10px rgba(0,0,0,.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,.25),
	inset 0 2px 0 rgba(255,255,255,.6),
	0 2px 0 rgba(0,0,0,.1),
	inset 0 0 10px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,.25),
	inset 0 2px 0 rgba(255,255,255,.6),
	0 2px 0 rgba(0,0,0,.1),
	inset 0 0 10px rgba(0,0,0,.1);
	cursor: pointer;
}

.numberStyle:hover {
	background-color: #72D6D6;
}

.numberEqually {
	width: 59%;
	margin: 10px 0;
	background-color: #39E639;
	-webkit-border-radius: 5px;
       -moz-border-radius: 5px;
         -o-border-radius: 5px;
            border-radius: 5px;
	border: 1px solid #0BE00B;
	box-shadow: 0 3px 10px rgba(0,0,0,.25),
	inset 0 2px 0 rgba(255,255,255,.6),
	0 2px 0 rgba(0,0,0,.1),
	inset 0 0 10px rgba(0,0,0,.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,.25),
	inset 0 2px 0 rgba(255,255,255,.6),
	0 2px 0 rgba(0,0,0,.1),
	inset 0 0 10px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,.25),
	inset 0 2px 0 rgba(255,255,255,.6),
	0 2px 0 rgba(0,0,0,.1),
	inset 0 0 10px rgba(0,0,0,.1);
	cursor: pointer;
}

.numberEqually:hover {
	background-color: #58E858;
}

.numberStyle:active,
.clearBtn:active,
.numberEqually:active {
	box-shadow: inset 0 0 10px rgba(0,0,0,.2),
	0 2px 0 rgba(255,255,255,.4),
	inset 0 2px 0 rgba(0,0,0,.1);	
	-moz-box-shadow: inset 0 0 10px rgba(0,0,0,.2),
	0 2px 0 rgba(255,255,255,.4),
	inset 0 2px 0 rgba(0,0,0,.1);
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.2),
	0 2px 0 rgba(255,255,255,.4),
	inset 0 2px 0 rgba(0,0,0,.1);
	outline: none;	
}

.numberSystem {
	background-color: #65b2bd;
}

.numberSystemBlock {
	background-color: #A5D7DE;

}

.percentHeader {
	background-color: #a0c26f;
}

.percentBlock {
	background-color: #CBE1AC;
}

.powerHeader {
	background-color: #c79350;
}

.powerBlock {
	background-color: #E3C398;
}

.depositHeader {
	background-color: #c45656;
}

.depositBlock {
	background-color: #E29C9C;
}


.depositBlock .btnStyle {
	display: inline-block;
	margin-left: 35%;
	margin-top: 20px;
}

.depositInputLabel {
	display: inline-block;
	width: 50%;
 }

.mainBlockStyle {
	display: none;
	padding: 20px 0 40px 30px;
	margin-bottom: 15px;
	min-height: 50px;
	-webkit-border-radius: 0 0 10px 10px;
       -moz-border-radius: 0 0 10px 10px;
         -o-border-radius: 0 0 10px 10px;
            border-radius: 0 0 10px 10px;
}

.depositcalckBlock {
	width: 35%;
	padding: 20px;
	-webkit-border-radius: 10px;
       -moz-border-radius: 10px;
         -o-border-radius: 10px;
            border-radius: 10px;
	box-shadow: 0 3px 10px rgba(0,0,0,.25),
	inset 0 2px 0 rgba(255,255,255,.6),
	0 2px 0 rgba(0,0,0,.1),
	inset 0 0 10px rgba(0,0,0,.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,.25),
	inset 0 2px 0 rgba(255,255,255,.6),
	0 2px 0 rgba(0,0,0,.1),
	inset 0 0 10px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,.25),
	inset 0 2px 0 rgba(255,255,255,.6),
	0 2px 0 rgba(0,0,0,.1),
	inset 0 0 10px rgba(0,0,0,.1);
}

.resultBlock,
.errorBlock {
	background-color: #fff;
	border: 2px solid #B2AABF;
	width: 40%;
	margin: 15px auto 0;
	text-align: right;
	border-radius: 10px;
	padding-right: 15px;
	padding-bottom: 3px;
	display: none;
}

.errorBlock {
	text-align: center;
}

.styleresVar {
	font-style: italic;
	font-weight: bold;
	font-size: 18px;
	color: blue;
}

.styleresult {
	font-size: 22px;
	font-family: 'Droid Serif', serif;
	font-style: italic;
	padding-left: 3px;
	color: red;
}

.styleInput {
	border: 1px solid #88838F;
	border-radius: 7px;
	text-align: center;
	font-weight: bold;
	color: #590C2D;
	width: 12%;
}

.btnStyle {
	margin-left: 5px;
	padding: 0 12px;
	background: #FFFFC0;
	outline: 0;
	border: 1px solid #88838F;
	cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    
}

.btnStyle:hover {
	background: #FFFF8C;
	box-shadow: 0 3px 4px rgba(0,0,0,.2);
}

.btnStyle:active {
	box-shadow: 0 3px 4px rgba(0,0,0,.2) inset;
	background: #F0F089;
}

.depositBlock .styleInput {
	margin-top: 5px;
	font-weight: normal;
	width: 45%;
}


input:focus, 
textarea:focus,
select:focus,
.clearBtn:focus,
.numberStyle:focus,
.numberEqually:focus {
	outline: 0;
 }

:focus::-webkit-input-placeholder {color: transparent};
:focus::-moz-placeholder          {color: transparent};
:focus:-moz-placeholder           {color: transparent};
:focus:-ms-input-placeholder      {color: transparent};
/*
для заголовков
font-family: 'Comfortaa', cursive;
для результатов
font-family: 'Droid Serif', serif;
для текста
font-family: 'PT Sans', sans-serif;*/