
body {
	background-color: #E7DAFF;
}

.container {
	width: 90%;
	margin: 0 auto;
}


h2 {
	color: #fff;
	font-size: 20px;
}

.styleVariable {
	font-style: italic;
	font-weight: bold;
	color: #3746A6;
	text-decoration: underline;
	text-transform: uppercase;
}